a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.todos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todos-window {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.todos-form {
  display: flex;
  gap: 2rem;
}
