a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0.3rem;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-window {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.projects-form {
    display: flex;
    gap: 2rem;
}

.project-item {
    border: 2px solid white;
    text-shadow: 3px 5px 5px #1f2937;
    text-align: center;
    box-shadow: 3px 5px 5px #1f29378b;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.project-name {
    flex: 1;
    display: flex;
    align-items: center;
}

.project-menu {
    display: flex;
    gap: 0.2rem;
}
